/* * {
    margin: 0;
    padding: 0;
  }
  
  .body {
    background: lightskyblue;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  
  .form {
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    margin-top: 30px;
  }
  
  .form .form__custom-button {
    margin-top: 50px;
  }
  .center {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
  }

.login-form {
  width: 120%;
  border-style: solid;
  border-radius: 25px;
  padding: 25px;
} */